@font-face {
	font-family: 'icons';
	src:url('../fonts/icons/icons.#iefix') format('embedded-opentype'),
		url('../fonts/icons/icons.ttf') format('ttf'),
		url('../fonts/icons/icons.woff') format('woff'),
		url('../fonts/icons/icons.svg') format('svg');
}

@font-face {
	font-family: 'ralewaySemiBold';
	src:url('../fonts/raleway/RalewaySemiBold.#iefix') format('embedded-opentype'),
		url('../fonts/raleway/RalewaySemiBold.ttf') format('ttf');
}

@font-face {
	font-family: 'ralewayBold';
	src:url('../fonts/raleway/RalewayBold.#iefix') format('embedded-opentype'),
		url('../fonts/raleway/RalewayBold.ttf') format('ttf');
}

@font-face {
	font-family: 'ralewayMedium';
	src:url('../fonts/raleway/RalewayMedium.#iefix') format('embedded-opentype'),
		url('../fonts/raleway/RalewayMedium.ttf') format('ttf');
}

@font-face {
	font-family: 'walkwayBlack';
	src:url('../fonts/walkway/WalkwayBlack.#iefix') format('embedded-opentype'),
		url('../fonts/walkway/WalkwayBlack.ttf') format('ttf');
}