$light-bg: rgb(255, 255, 255);
$light-font: rgb(255, 255, 255);
$dark-bg: rgb(247, 248, 250);
$second-dark-bg: rgb(50, 50, 50);
$main-dark-font: rgb(50, 50, 50);
$second-dark-font: rgb(114, 114, 114);
$main-highlight: rgb(1, 153, 230);
$socials-bg: rgb(145, 145, 145);
$pricing-card-border: rgb(227, 227, 227);
// $testimonials-card-bg: rgb(247, 248, 250)